:root{
    --orange:#ff7f50;
    --blue:#7FCDCD;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI',  monospace;
    

   
}


.discover-cnt{
    
    background-image: url("../images/skiathos.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 80vh;
    display: grid;
   
}   

@keyframes discover {
    0%{ opacity:1; right: 100%; }
    100%{ opacity:1;  right: 25px;}
    }
    


.discover-text-wrapper{
   animation: discover 1s ease-in forwards;
    width: 35%;
    height: 80%;
    background-color: rgba(242, 242, 242, 0.33);  
    margin: auto;
    text-align: center;
    display: grid;
    place-items: center;
    position: absolute;
    
}

@keyframes uncover {
    0%{opacity:0;}
    50%{opacity:0.1;}
    100%{opacity:1;}
    
}
.discover-text-wrapper h2{
   color: var(--orange);
   word-break: break;
   font-size: 3rem;
   font-weight: bold;
   animation: uncover 1.5s ease-in forwards;
   background-color: rgba(242, 242, 242, 0.33);  
   box-shadow: 2px 1px 200px 68px rgba(242,242,242,0.52);
-webkit-box-shadow: 2px 1px 200px 68px rgba(242,242,242,0.52);
-moz-box-shadow: 2px 1px 200px 68px rgba(242,242,242,0.52);
}

.family{
    color: var(--orange);
    font-size: clamp(12px, 16px, 20px);
}
.family-cnt{
    
    display: flex;
    
}

.family-cnt .family-img-cnt {
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

.family-cnt .family-img-cnt img{
    width: 70%;
    position: relative;
    right: 25px;
    height: 95%;
    object-fit: contain;
    box-sizing: border-box;
    padding: 20px 0px;
   
    
}

.store-view-cnt{
    height: 50vh;
    width: 100%;
    background-image: url('../images/Store\ View.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.store-view-cnt img{
    width: 100%;
    height: 100%;
  


}
.family-cnt .family-text-wrapper {padding-top: 35px; width: 50%;}

.family-cnt .family{
    width: 80%;
    padding-left: 10%;
    
    
    
}

@media (min-width:900px){
    

    .family-cnt .family-text-wrapper .family-text{
        font-size: 1.1rem;
        line-height: 30px;
        
    }

 
}

@media (max-width:900px){
    .family-cnt .family-text-wrapper{
        width: initial;
    }
    
    .family-cnt{
        display: grid;
    }
    .discover-text-wrapper{
        animation: none;
        position: relative;
        width: 100% ;
        right: 0;

    }

    .family-img-cnt {
        
        width: 100% !important;
        justify-content: center !important;
    } 
    .family-img-cnt img{
        right: 0;
    }
}