:root{
    --orange:#ff7f50;
    --blue:#7FCDCD;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI',  monospace;
    

   
}


.discover-cnt{
    
    background-image: url("../images/skiathos.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 80vh;
    display: grid;
   
}   

@keyframes discover {
    0%{width: 100%;height: 100%; opacity:0;}
    100%{width: 70%;height: 80%; opacity:1;}
    
}

.discover-text-wrapper{
   animation: discover 1s ease-in forwards;
    height: 400px;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.33);  
    width: 70%;
    margin: auto;
    text-align: center;
    display: grid;
    place-items: center;
    
}

@keyframes uncover {
    0%{opacity:0;}
    50%{opacity:0.1;}
    100%{opacity:1;}
    
}
.discover-text-wrapper h2{
   color: var(--orange);
   word-break: break;
   font-size: 3rem;
   font-weight: bold;
   animation: uncover 1.5s ease-in forwards;
   background-color: rgba(242, 242, 242, 0.33);  
   box-shadow: 2px 1px 200px 68px rgba(242,242,242,0.52);
-webkit-box-shadow: 2px 1px 200px 68px rgba(242,242,242,0.52);
-moz-box-shadow: 2px 1px 200px 68px rgba(242,242,242,0.52);
}

.family{
    color: var(--orange);
}
.family-cnt{
    
    padding: 25px;
    line-height: 25px;
}
.family-cnt .family-img-cnt img{
    width: 100%;
    padding-top:50px ;
    
}

.store-view-cnt{
    height: max-content;
}
.store-view-cnt img{
    width: 100%;
    height: 100%;
    display: block;

}

@media (min-width:900px){
    .family-cnt{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    
    }
    .family-cnt .family-img-cnt img{
        width: 100%;
        
        
    }
    .family-cnt .family{
        width: 80%;
        padding-left: 10%;
        
        
        
    }
    .family-cnt .family-text-wrapper {padding-top: 35px;}

    .family-cnt .family-text-wrapper .family-text{
        font-size: 1.8rem;
        line-height: 30px;
        
    }

    .family-cnt .family-text-wrapper{
        overflow-y: scroll;
        -ms-overflow-style: none; 
        scrollbar-width: 1px; 
        scrollbar-base-color: var(--orange); 
        scrollbar-color: var(--orange);
       
        height: 50%;
    }
}