
footer{
    height: 600px;
    width: 100%;
}


#map{
    width: 100%;
    height: 500px;
}

#map img{
    height: 100%;
    width: 80%;
}

.footer-wrapper{
    width: 100%;
    background-color: rgb(255, 226, 206);
    height: 400px;
    margin-top: 50px;
    display: grid;
    place-items: center;
    overflow-x:hidden ;
    
    
}

.contact-info-cnt{
    word-break:normal;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    width: 80%;
    
    justify-content: space-evenly;
    align-items: center;
    grid-row-gap: 15px;
}


.social-cnt,
.phone-cnt,
.email-cnt{
    height: 100px;
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}



.contact-info-cnt p,
.contact-info-cnt h3{
    color: black;
}

.contact-info-cnt p{
    font-size:clamp(.7rem,.8rem,2rem) ;
}


@keyframes border{
    0%{width: 1px;}
    100%{width:100px;}
}

.contact-underline{
    position: relative;
}
.contact-underline::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0px;
    background-color: #7FCDCD;
    transition: all .6s;
}

.contact-underline:hover::after{
    width: 100%;
    
}
@media (max-width:500px){
   .contact-info-cnt{
    text-align: center;
    
   }
}