:root{
    --orange:#ff7f50;
    --blue:#7FCDCD;
}
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
   
    color: #f1f1f1;
   
    
  

   
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    background: var(--orange);
    color: #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 99;

}
.logo-wrapper{
   display: flex;
   gap: 50px;
   align-items: center;
   height: 100%;
   width: 50%;
}

.logo-cnt{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.since-date{
    
    font-size: .7em;
    text-align: end;
}


.logo{
    height: 50px;
    right: -100px;
   
    position: absolute;
    padding-left: -350px;
    top: -30px;
   
}


.logo-wrapper div .underline{
    width: 150%;
    height: 2px;
    background-color: white;
    left: -20px;
    position: absolute;
    top: 55%;
  
}


nav .navbar-brand {
    color: white;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;

}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

input:checked .nav-list .nav-item{
    background: var(--blue);
}

nav .nav-list .nav-link{
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}




nav .navbar-toggler{
    display: none;
    height: min-content;
    margin: 18px;
    user-select: none;
    cursor: pointer;
}

input:checked ~ nav .navbar-toggler{
    transform: rotate3d(1, 5, 2, -360deg);
    transition: .9s;}




nav .navbar-toggler .bar{

    width: 35px;
    height: 4px;
    background: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: .4s;


}
input{
    display: none;
}


input:checked ~ nav .nav-list .nav-item:hover{
    background-color: var(--orange);
}

 input:checked ~ nav .nav-list{ 
    
   
    transition: all 0.5s;
    transform: translateX(0);
    z-index: 99;
   
}


input:checked ~ nav .navbar-toggler .bar:nth-child(1) { 
 position: absolute;
 transform: rotate(45deg);
}


input:checked ~ nav .navbar-toggler .bar:nth-child(3) { 
    
    transform: rotate(-45deg);
   }

   input:checked ~ nav .navbar-toggler .bar:nth-child(2) { 
   
  display: none;
   }

   
@media (max-width:953px){
    nav{
       
        transition: .4s;
    }
    nav .nav-list .nav-item{
     
        padding: 0 20px;

    }
    
}
@media (max-width: 1300px){
    nav .nav-list{
        display: grid;
       position: absolute;
       background: var(--blue);
       width: 100%;
       top: 100px;
       left: 0;
       transform: translateX(-100%);
       z-index: -1;
       line-height: 100px;
       transition: .6s;

   
       
    }

    nav .nav-list .nav-item{
        padding-left: 35px;
    }
    
    nav .navbar-toggler{
        display: grid !important;
        
    }
    .logo-wrapper{
        align-items: center;
    }

}




@media (max-width:820px){
 
    .logo-wrapper{gap: 20px;}
    nav .navbar-toggler{margin: 0px;}
    .acropolis{font-size: 1.3rem;}
    }

@media (max-width:510px){
    nav{height: 70px;}
    nav .nav-list{top: 70px;}
    .logo-cnt,.underline{ display: none;}
    .since-date{display: none;}
    .logo-wrapper{gap: 20px;}
    nav .navbar-toggler{margin: 0px; cursor: none;}
    .acropolis{font-size: .9rem;}
    nav .navbar-toggler .bar{
        width: 28px;
        margin-bottom: 6px;
        height: 3px;
    }
    }

@media (max-height:700px){
    nav .nav-list{
        line-height:70px;
        top: 70px;
    }
    
    
}



@media (min-height:300px) and (max-height:499px){
    nav .nav-list{
        line-height:45px;
    }
}

@media (max-height:700px) {
    
    .logo,.since-date,.rental-text,.underline{display: none;}
    nav{
        height: 70px;
    }
}


@media (max-width:1600px)
{
    .nav-item{padding:0px 17px !important;}
}